/* ===== Universal Things ===== */

:root {
    //* COLORS
    --primary-Black: #000;
    --primary-Black-transparent1: rgba(0, 0, 0, .15);
    --primary-Black-transparent2: rgba(0, 0, 0, .5);
    --primary-Orange: #E55039;
    --secondary-Orange: #FA983A;
    --primary-blue: #40437c;

    //* SHADOWS
    --shadow-light-1: 0 3.5rem 4rem rgba(0, 0, 0, .4);
    --shadow-light-2: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.22);
    --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, .4);
    --shadow-dark-2: 0 2rem 4rem rgba(0, 0, 0, .6);
    --shadow-dark-3: 0 1.5rem 7rem rgba(0, 0, 0, .8);

    //* BORDERS
    --border-bottom-1: .2rem solid #000;
    --border-bottom-2: .2rem solid #ffd300;
    --border-bottom-3: .5rem solid #ffd300;
    --border-bottom-4: .1rem solid #ffd300;
    --border-bottom-5: .2rem solid #40437c;
    --border-bottom-6: .2rem solid #fff;
    --border-bottom-7: .5rem solid #fff;

    //* MARGINS


    //* PADDINGS


    //* FONT-SIZES
    --fs-title-big: 9rem;
    --fs-title: 3rem;
    --fs-heading: 2.5rem;
    --fs-text: 1.5rem;
}

/* MEDIA QUERY SIZES */
$bp-largest: 75em; // 1200px === 75em
$bp-large: 68.75em; // 1100px === 68.75em
$bp-medium: 56.25em; // 900px === 56.25em
$bp-small: 37.5em; // 600px === 37.5em
$bp-smallest: 31.25em; // 500px === 31.25em
$bp-phone: 23.75em; // 380px === 23.75em

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // ! This defines what 1rem is.
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    min-height: 100vh;

    // MEDIA QUERY
    @media screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}